{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom border-info">Services</h1>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fa fa-palette fa-2x mb-2 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">Defines the structure, hierarchy, and relationships between a website's various content types</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-code fa-2x mb-2 i-color"></i>
            <h3>Web Devlopment</h3>
            <p class="ss-color">Implimenting best reuseable code structure for structure, hierarchy, and relationships of a website.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-search-dollar fa-2x mb-2 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Writes a set of code which helpfull for getting our website with good SEO google ranking.</p>
        </div>
    </div>

    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fa fa-gears fa-2x mb-2 i-color"></i>
            <h3>RESTful API</h3>
            <p class="ss-color">I have expertise of writing RESTful API for mobile and web application with <i class="text-warning">PHP|Laravel and Python|Django</i>.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-database fa-2x mb-2 i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-color">I have a knowledge of hosting website with <i class="text-warning">AWS</i> and <i class="text-warning">cPanel</i> both.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-headset fa-2x mb-2 i-color"></i>
            <h3>Support</h3>
            <p class="ss-color">I can handle client communication and able to provide best solution for client requirment.</p>
        </div>
    </div>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fa fa-pencil fa-2x mb-2 i-color"></i>
            <h3>Logo Design</h3>
            <p class="ss-color">I can handle a little bit change and suggestion for web site logo.</p>
        </div>
    </div>
</div>
{% endblock content %}